Binaries
DerivedDataCache
Intermediate
Saved
WesterTown
ModSci
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ThirdPersonCPP/Maps/Match/ModSki/Construct/Example_Dynamic_BuiltData.uasset
