Binaries
DerivedDataCache
Intermediate
Saved
ModSci
StarterContent
Mannequin
AnimStarterPack
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
Content/ThirdPersonCPP/Maps/Match/ModSki/Construct/Example_Dynamic_BuiltData.uasset
Content/Elite_Landscapes
Content/SpaceCockPits
